*{
    margin: 0;
    padding: 0;
}

h2{
    padding: 10px;
}

.wrapper{
    width: 100%;    
    _min-height: 100vh;
    _background-color: blue;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90%;
    border: 2px solid #ccc ;
    border-bottom: 0px;
}

.contentMovies{    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    margin: 10px;
}

/*#region Movie*/
.linkMovie{
    display: flex;
    background-color: #444;
    height: 100%;
    width: 300px;
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.movie{
   
    width: 100%;
    height: 165px;    
    display: flex;
    align-items: center;
    justify-content: center;

}

.movie img{
    position: absolute;    
}

.detailMovie{    
    width: 100%;
    _background-color: pink;
    display: flex;

}
.moviePosters{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.moviePoster{
    width: 80%;
    padding: 15px;
    border-radius: 50px;    
    display: block;
}

.movieImg{
    padding: 5%;
    width: 40%;
    float: left;
}

.descMovie{
    padding: 15px;
    _float: left;    
}

.movieTitle{
    padding: 15px;    
}

.movieTitle h3{
    font-size: 2em;
}

.movieTitle h4{
    color: #444;
}

.descMovie span{
    margin: 5px;
}

.descMovieTitle{
    color: #444;    
}

.descMovieValue{
    color: blue;
}

.descMovieOverview{
    font-size: 1.3em;
    padding: 25px;
}

.companiesMovie,
.collectionMovie,
.movieOverview{
    display: flex;
    margin: 15px 0px;
    border-top: 1px solid #444;
    padding: 10px 0px;
}

.collectionMovie,
.movieOverview{
    flex-direction: column;
}

.companiMovie{
    display: flex;
    _height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.companiMovie img{
    width: 50px;
}

.collectionMovie img{
    width: 100px;
    border-radius: 0px;
    border: 1px solid black;
    padding: 0;
    margin: 5px;
}

/*#endregion*/

/*#region Similar Movies*/
.similarMovies{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ccc;
}
/*#endregion*/

/*#region OPTION MENU*/
.header{
    padding: 25px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;    
    border-bottom: 2px solid #ccc;
}

.headerMenuButton{
    color: #999;
    font-size: 1.5em;
    margin: 15px;
    padding: 5px 10px;
    _border: 2px solid #999;
    border-radius: 8px;
    _background-color: white;
    cursor: pointer;
    transition: 400ms all;
}

.headerMenuButton:hover{
    background-color: #999;
    color: white;    
}

.headerMenuActive{
    background-color: #bbb;
    color: white;    
}

.headerMenuText{
    color: #999;
    font-size: 1.5em;
    margin: 15px;
    padding: 8px;
    padding-left: 12%;
    border: 2px solid #999;
    border-radius: 8px;
    background-color: white;
}

.headerMenuSelect{
    color: #999;
    font-size: 1.5em;
    margin: 15px;
    padding: 8px;    
    border: 2px solid #999;
    border-radius: 8px;
    background-color: white;
}


.searchContainer{
    position: relative;
}

.iconSearch{
    position: absolute;
    left: 8%;
    top: 40%;
    color: #999;
}

/*#endregion*/

/*#region Search Menu*/
.searchListItems{
    padding: 10px;
    display: flex;    
    justify-content: center;
    border-bottom: 2px solid #ccc;
    
}
.searchListItems li{
    list-style: none;    
}
/*#endregion*/

/*#region Header*/
header{
    display: flex;    
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;    
}

.logo{
    width: 250px;    
    padding: 0px 100px;
}

header ul{
    list-style: none;    
    display: flex;
    padding: 0px 100px;
}

header ul li{        
    padding: 10px;    
    display: block;
}

header ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #444;
    font-weight: bold;
    transition: 100ms all;    
    display: block;
    padding-bottom: 50px;
    padding-right: 10px;
}

header ul li:hover a{
    color: red;
    padding-bottom: 30px;
    padding-top: 20px;
}
/*#endregion*/

/*#region Trending*/
.sliderContent{
    width: 100%;
    padding: 15px 0px;
}

.trendingMovie{
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
    min-width: 500px;
    height: 280px;
}

.trendingMovie img{
    position: absolute;
}

.movieName{
    position: absolute;
    bottom: 5%;
    left: 3%;
    padding: 15px;
    background-color: #fffe;
    border-radius: 15px;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

.movieVoteAvg{
    background-color: green;
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
/*#endregion*/

/*#region Footer*/

footer{
    background-color: #fff;
    border-top: 2px solid #ccc;
    height: 100px;
    width: 100%;
    _position: fixed;
    bottom: 0px;
    display: flex;    
}
footer a{
    display: flex;
}

footer a img{
    width: 100px;
    padding-left: 50px;
}
/*#endregion*/

@media (max-width: 1650px){
    .contentMovies{    
        grid-template-columns: repeat(2, 1fr);        
    }
}

@media (max-width: 1300px){
    .contentMovies{    
        grid-template-columns: repeat(3, 1fr);        
    }
}

@media (max-width: 1100px){
    .contentMovies{    
        grid-template-columns: repeat(2, 1fr);        
    }
    header{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 725px){
    .contentMovies{    
        grid-template-columns: repeat(1, 1fr);        
    }

    .searchListItems{
        flex-direction: column;
    }
}