*{
    margin: 0;
    padding: 0;
}

h2{
    padding: 10px;
}

.wrapper{
    width: 100%;    
    _min-height: 100vh;
    _background-color: blue;        
}

.content{    
    float: left;
    width: 85%;
    _border-left: 2px solid #ccc inset;
}

/*#region Movie*/

.movie{
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    width: 15%;
    min-width: 300px;
    height: 165px;
    float: left;
}

.movie img{
    position: absolute;
}
/*#endregion*/

/*#region HEADER*/
.header{
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.headerMenuButton{
    color: #999;
    font-size: 1.5em;
    margin: 15px;
    padding: 5px 10px;
    border: 2px solid #999;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 400ms all;
}

.headerMenuButton:hover{
    background-color: #999;
    color: white;    
}

.headerMenuActive{
    background-color: #bbb;
    color: white;    
}

.headerMenuText{
    color: #999;
    font-size: 1.5em;
    margin: 15px;
    padding: 8px;
    padding-left: 12%;
    border: 2px solid #999;
    border-radius: 8px;
    background-color: white;
}


.searchContainer{
    position: relative;
}

.iconSearch{
    position: absolute;
    left: 8%;
    top: 40%;
    color: #999;
}

/*#endregion*/

/*#region Aside*/
aside{
    width: 15%;
    display: flex;    
    _background-color: red;
    float: left;
}

aside ul{
    margin: 10px;
    margin-top: 150px;
    list-style: none;    
}

aside ul li{
    
    margin-left: 25px;
    padding: 15px 0px;
}

aside ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #444;
    font-weight: bold;
    transition: 100ms all;
}

aside ul li:hover a{
    color: red;
    padding-left: 15px;
}
/*#endregion*/

/*#region Trending*/
.sliderContent{
    width: 100%;
    padding: 15px 0px;
}

.trendingMovie{
    position: relative;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
    min-width: 500px;
    height: 280px;
}

.trendingMovie img{
    position: absolute;
}

.movieName{
    position: absolute;
    bottom: 5%;
    left: 3%;
    padding: 15px;
    background-color: #fffe;
    border-radius: 15px;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

.movieVoteAvg{
    background-color: green;
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
/*#endregion*/

/*#region Footer*/
footer{
    background-color: #fff;
    border-top: 2px solid #ccc;
    height: 100px;
    width: 100%;
    _position: fixed;
    bottom: 0px;
    display: flex;    
}
footer a{
    display: flex;
}

footer a img{
    width: 100px;
    padding-left: 50px;
}
/*#endregion*/